/*
Hoja de estilos CSS.
*/

body{margin:0; padding:0; font-size:13px; font-family:Georgia, serif, "Times New Roman", Times; color:#FFFFFF; background-color:#0F1A3C;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; width:100%; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

code{font-weight:normal; font-style:normal; font-family:Georgia, serif, "Times New Roman", Times;}

.textofooter{text-align: center;}

img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}


/* ----------------------------------------------Contenedores-------------------------------------*/

div.contenedor{display:block; width:100%; margin:0; padding:0; text-align:left;}

.fila1, .fila1 a{color:#FFFFFF; background-color:#0F1A3C;}
.fila1 a:hover{color:#666666}
.fila2{color:#000000; background-color:#FFFFFF;}
.fila2 p, .fila2 ul{color:#666666; background-color:#FFFFFF;}
.fila2 a{color:#0F1A3C; background-color:#FFFFFF;}
.fila3, .fila3 a{color:#FFFFFF; background-color:#0F1A3C;}

/*----------------------------------------------General-------------------------------------*/

#cabecero, #contenedor, #footer{display:block; margin:0 auto; width:960px;}

nav ul{margin:0; padding:0; list-style:none;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:20px; font-weight:normal; font-style:normal; line-height:normal;}

/*----------------------------------------------Cabecero-------------------------------------*/

#cabecero #logo{float:left; padding:20px 0;}
#logo img{width:120px; height:60px;}

#cabecero nav{float:right; padding:20px 0;}
#cabecero nav ul{margin-top:20px;}
#cabecero nav li{display:inline; margin-right:15px; text-transform:uppercase;}
#cabecero nav li.ultimo{margin-right:0;}

/*----------------------------------------------Área de contenido-------------------------------------*/

#contenedor{padding:30px 0;}
#contenedor section{margin:0 0 30px 0;}
#contenedor section.ultimo{margin:0;}
#contenedor .vermas{text-align:right; text-transform:uppercase; font-size:smaller; font-weight:bold;}
#contenedor .vermas a:hover{color:#666666}

/* ------Contenido principal-----*/

#contenedor #contenido{float:left; width:630px;}

#contenedor #contenido section article h2{text-transform:uppercase;}
#contenedor #contenido section article address{font-size:10px; font-style:normal;}
#contenedor #contenido section article time{font-size:10px;}

/* ------Columna Derecha-----*/

#contenedor #columnaderecha{float:right; width:280px;}
#contenedor #columnaderecha h2.title{margin-bottom:20px;}
#contenedor #columnaderecha img{margin-bottom: 20px; margin-left: 50px;}

#contenedor #columnaderecha nav{display:block; width:100%; margin-bottom:30px;}
#contenedor #columnaderecha nav ul{margin:0; padding:0; list-style:none;}
#contenedor #columnaderecha nav li{margin:0 0 3px 0; padding:0;}
#contenedor #columnaderecha nav li.ultimo{margin-bottom:0;}
#contenedor #columnaderecha nav a{display:block; margin:0; padding:5px 10px 5px 20px; color:#666666; background:url("../imagenes/flechita_negra.gif") no-repeat 10px center #FFFFFF; text-decoration:none; border-bottom:1px dotted #666666;}
#contenedor #columnaderecha nav a:hover{color:#0F1A3C; background-color:#FFFFFF;}

/*----------------------------------------------Pie de página-------------------------------------*/

#footer p{margin:0; padding:20px 0;}